
.content-page {
    background-color: darkseagreen;
    width: 90%;
    margin: 20px auto;
    height: 500px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px darkgreen;
    position: relative;
}

.button {
    width: 95%;
    max-width: 250px;
    color: black;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 12px 6px antiquewhite;
    text-decoration: none;
    height: 2rem;
    line-height: 1.6rem;
    display: inline-block;
}

.disabled {
    background-color: grey;
}