
.triangle {
    width: 0;
    height: 0;
    border-width: 80px 80px 0px 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: transparent;
    border-right-color: #dfff00;
    border-bottom-right-radius: 15%;
    position: absolute;
}

.top-left {
    top: 0;
    transform: rotateZ(180deg);
}

.top-right {
    top: 0;
    right: 0;
    transform: rotateZ(270deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotateZ(0deg);
}

.bottom-left {
    bottom: 0;
    transform: rotateZ(90deg);
}