
.triangle {
    width: 80px;
    height: 80px;
    border-bottom-right-radius: 15%;

    background: linear-gradient(to bottom right, transparent 50%, yellow 50%);
    position: absolute;
}

.top-left {
    top: 0;
    transform: rotateZ(180deg);
}

.top-right {
    top: 0;
    right: 0;
    transform: rotateZ(270deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotateZ(0deg);
}

.bottom-left {
    bottom: 0;
    transform: rotateZ(90deg);
}