
.table-div {
    margin-top: 50px;
    background-color: grey;
    width: 80%;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    margin-bottom: -50px;
    border: 1px solid red;
}

caption {
    background-color: #2cab24;
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}

table {
    width: 100%;
    border-right: 1px solid red;
    border-collapse: collapse;
}

th {
    width: 50%;
}

/* All tr's except the one in the header */
tr:not(thead tr) {
    border-top:  1px solid #0d3e60;
}